<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Stanislavz_AdminMenuElement::askquestion"
             title="Ask Question"
             translate="title"
             module="Stanislavz_AdminMenuElement"
             parent="Magento_Backend::content"
             sortOrder="50"
             dependsOnModule="Stanislavz_AdminMenuElement"
             resource="Stanislavz_AdminMenuElement::askquestion"/>
        <add id="Stanislavz_AdminMenuElement::askquestion_question"
             title="Watch Questions"
             translate="title"
             module="Stanislavz_AdminMenuElement"
             parent="Stanislavz_AdminMenuElement::askquestion"
             sortOrder="10"
             dependsOnModule="Stanislavz_AdminMenuElement"
             action="adminmenuelement/question"
             resource="Stanislavz_AdminMenuElement::askquestion"/>
    </menu>
</config>